.header {
    width: 100%;
    text-align: center;
    background-color: white;
}

.exozet {
    font-size: 32px;
    font-weight: 400;
    color: black;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;

}